[submodule "cusf-kicad"]
	path = schematics/cusf-kicad
	url = git://github.com/cuspaceflight/cusf-kicad.git
[submodule "ChibiOS"]
	path = firmware/shared/ChibiOS
	url = git://github.com/ChibiOS/ChibiOS.git
[submodule "gen-board.h"]
	path = firmware/shared/gen-board.h
	url = git://github.com/cuspaceflight/gen-board.h.git
